#main
  .width-container
    #container-sidebar
      .content-boxed
        #contact-form-new
          = simple_form_for @hot_listing do |f|
            = f.input :name, placeholder: "Your Full Name", label: false
            = f.input :email, placeholder: "Your Email Address", label: false
            = f.input :phone, placeholder: "Your Telephone Number", label: false
            = f.input :comments, placeholder: "Comments", label: false
            = f.submit "Send Message"
          .grid2column.lastcolumn
        %br
        %h1 Beat other buyers to hot new listings!
        %br
        %h4 Want to be the first to see new listings ?
        %br
        %p Let me take away the stress out of searching for your new home or investment property. 
        %br
        %p I will customize your house hunting search to your specific criteria and you will receive an email everyday with new listings that come on the market.

        %br
        %p See them before most buyers and even before most realtors see them!  
        %br
        %p Once you see the perfect house I will be happy to provide you with complete details on the property, and can also arrange a showing for you.  
        %br
        %p It's that easy! Stop wasting time searching online! 
        %br
        %p No pressure. And remember my service to buyers is free!!
        %br 
        %p Please fill the form below and I will get back to you as soon as possible! 
        %br
      / close .content-boxed
    = render "shared/sidebar"